.profile {
    font-family: "Arial","Meiryo","san-serif";
}

h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 40px;
}

.root {
    font-size: 20px;
}

.char1,.birth,.hobby,.reason {
    color: skyblue;
}

.char2,.name,.bloodtype,.food {
    color: rgb(255, 192, 203);
}

body {
    text-align: center;
}

h1 {
  letter-spacing: 1.5em;  
  text-shadow:1px 1px 2px gray ;
  border-bottom: solid  3px rgb(115, 115, 114);
}

#basic p {
    font-weight: bold;
}